{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="flex flex-col h-screen items-center justify-evenly gap-y-8 w-full p-4 md:p-8 pt-24 md:pt-28 
    bg-blue-50">

    <div class="relative flex flex-col items-center gap-y-12 w-full px-4 py-12 bg-blue-800 rounded-lg shadow-lg">
        <img src="{% static 'img/country-requirement/logo_senasa.png' %}" alt="logo_senasa">
        <p class="text-xl sm:text-2xl text-white text-center">
            Para mas información y asesoramiento ir a la pagina de Senasa.
        </p>
        <a href="https://www.argentina.gob.ar/senasa/portal-de-informacion-para-traslado-de-mascotas-perros-gatos-yo-mascotas-no-tradicionales?tca=XlPkFUmZwX1u1GGp9lU_fzeBjNqkZ2UecdgTwF7ZGM8"
            target="_blank">
            <button class="p-2 px-4 bg-white text-lg md:text-2xl text-red-600 border-2 border-red-600 rounded-md 
                transform transition-transform duration-300 ease-in-out hover:bg-red-600 hover:text-white 
                hover:scale-110">
                Ir a Senasa
            </button>
        </a>
    </div>

    <div class="flex justify-center w-full">
        <a href="{% url 'index' %}">
            <button class="p-2 px-4 bg-white text-lg md:text-2xl text-red-600 border-2 border-red-600 rounded-md 
                transform transition-transform duration-300 ease-in-out hover:bg-red-600 hover:text-white 
                hover:scale-110">
                Volver al Inicio
            </button>
        </a>
    </div>

</section>

{% endblock content %}