{% extends "base.html" %}
{% load static %}
{% load inclusiontag.custom_button %}


{% block content %}

<section class="flex flex-col h-screen items-center justify-evenly gap-y-8 w-full p-4 md:p-8 pt-24 md:pt-28 
    bg-blue-50">

    <div class="relative flex flex-col items-center gap-y-12 w-full px-4 py-12 bg-blue-900 rounded-lg shadow-lg">
        <img src="{% static 'img/country-requirement/logo_senasa.png' %}" alt="logo_senasa">
        <p class="text-xl sm:text-2xl text-white text-center">
            Para mas información y asesoramiento ir a la pagina de Senasa.
        </p>
        {% custom_button label="Ir a Senasa" url="https://www.argentina.gob.ar/senasa/portal-de-informacion-para-traslado-de-mascotas-perros-gatos-yo-mascotas-no-tradicionales?tca=XlPkFUmZwX1u1GGp9lU_fzeBjNqkZ2UecdgTwF7ZGM8" target="_blank" btn_tailwind="hover:scale-110" %}
    </div>

    {% url "index" as my_url %}
    {% custom_button label="Volver al Inicio" url=my_url btn_tailwind="hover:scale-110" %}

</section>

{% endblock content %}
