{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="flex flex-col gap-y-4 md:gap-y-8 w-full p-4 sm:p-8 mt-20 bg-blue-50">

    <div class="flex flex-col items-center gap-y-8 w-full bg-blue-800 p-8 md:py-16
        text-white rounded-lg shadow-lg">
        <div class="w-full">
            <div class="text-2xl md:text-3xl text-left text-center font-semibold">
                Sin distinción de raza
            </div>
        </div>
        <div class="w-full sm:w-3/4 md:w-3/5">
            <div class="text-lg md:text-xl text-center">
                El traslado de animales de razas braquiocefálicas mediante transporte aéreo conlleva un alto
                riesgo para su salud respiratoria y bienestar térmico, derivado del estrés ocasionado durante el vuelo.
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center gap-y-2 w-full p-4 sm:p-8 bg-white rounded-lg shadow-lg">
        <div class="flex flex-col items-left gap-y-6 w-full p-4 text-lg md:text-xl">
            <div>
                <span class="font-semibold">Perros: </span>
                Affenpinscher, American Bully, Boston Terrier, Boxer (Todas las razas), Bulldog (Todas las razas), 
                Cane corso, Carlino, Chow Chow, Dogo (Todas las razas), Grifón de Bruselas (Pequeño brabanzón), Lhasa Apso, 
                Mastín (Todas las razas), Pequinés, Pitbull, Shar-Pei, Shih Tzu, Cocker/Spaniel (Todas las razas), 
                Staffordshire bull terrier.
            </div>
            <div>
                <span class="font-semibold">Gatos: </span>
                Birmano, Británico de pelo corto, Gato Europeo, Himalayo, Persa.
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 items-start gap-y-8 md:gap-x-12 w-full p-4">
            <div class="flex flex-col items-center justify-center gap-y-2 w-full">
                <img src="{% static 'img/race-distintion/bulldog-frances.jpg' %}" alt="" class="w-full lg:w-3/4 rounded-lg">
                <div class="text-lg md:text-xl text-start">
                    <span class="font-semibold">Imagen ilustrativa</span> - Bulldog Frances
                </div>
            </div>
            <div class="flex flex-col items-center justify-center gap-y-2 w-full">
                <img src="{% static 'img/race-distintion/persian-cat.jpg' %}" alt="" class="w-full lg:w-3/4 rounded-lg">
                <div class="text-lg md:text-xl text-start">
                    <span class="font-semibold">Imagen ilustrativa</span> - Gato Persa
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-center w-full">
        <a href="{% url 'index' %}">
            <button class="p-2 px-4 bg-white text-lg md:text-2xl text-red-600 border-2 border-red-600 rounded-md 
                transform transition-transform duration-300 ease-in-out hover:bg-red-600 hover:text-white 
                hover:scale-110">
                Volver al Inicio
            </button>
        </a>
    </div>

</section>

{% endblock content %}