{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="flex flex-col items-center gap-y-4 md:gap-y-8 w-full p-4 md:p-8 mt-20 bg-yellow-50">

    <div class="flex flex-col items-center w-full bg-yellow-100 rounded-lg shadow-lg
        overflow-hidden">
        <div class="w-full h-28 md:h-32 lg:h-40 bg-blue-500 rounded-bl-[10%] rounded-br-[60%] 
            -rotate-1 md:-rotate-3 transform -translate-x-4 -translate-y-[2.5rem]">
            <div class="w-full pt-[3.5rem] lg:pt-16 text-lg md:text-3xl lg:text-5xl text-center 
                text-white font-semibold rotate-1 md:rotate-3">
                {{ "Sin distinción de raza"|upper }}
            </div>
        </div>
        <div class="flex flex-col items-center w-full">
            <div class="flex justify-center w-full">
                <div class="w-full md:w-3/4 p-2 text-lg md:text-xl lg:text-3xl text-center text-blue-500 
                    font-semibold">
                    En Aerolineas para mascotas no hacemos distinción de raza, todas las mascotas son Bienvenidas.
                </div>
            </div>
            <div class="flex items-center w-3/5 sm:w-2/5 md:w-1/5">
                <img src="{% static 'img/over-image/dog-pitbull.png' %}" alt="">
            </div>
        </div>
    </div>
    {% static 'img/DANI/huellas.png' as race_distintion %}

    <div class="relative flex flex-col items-center w-full mt-28 md:mt-32 rounded-lg shadow-lg bg-white bg-[url('{{ race_distintion }}')] h-full 
        bg-center bg-no-repeat bg-cover">
        <div class="absolute top-0 right-0 flex justify-end w-full
            transform -translate-y-[7.3rem] md:-translate-y-[10.1rem]">
            <img src="{% static 'img/over-image/dog-cocker.png' %}" alt="" class="w-32 md:w-44">
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8 w-full p-4 text-xl md:text-lg lg:text-2xl
        text-center lg:text-justify">
            <div class="w-full">
                <img src="{% static 'img/race-distintion/race-distintion-0.webp' %}" alt="" class="rounded-lg">
            </div>
            <div class="w-full p-4 leading-relaxed lg:leading-loose border-r border-b border-gray-300 shadow-md bg-white rounded-lg">
                En nuestra empresa, nos dedicamos apasionadamente a garantizar que tus fieles amigos peludos
                viajen cómodos y seguros, sin importar su raza. Sabemos que cada mascota es única y especial
                para su familia, por lo que tratamos a cada una con el amor y el cuidado que se merecen.
            </div>
            <div class="w-full p-4 leading-relaxed lg:leading-loose border-r border-b border-gray-300 shadow-md bg-white rounded-lg">
                Nos comprometemos a brindar una experiencia tranquila y libre de estrés tanto para las mascotas
                como para sus dueños. Entendemos lo difícil que puede ser separarse de tu compañero de cuatro
                patas durante un viaje, por eso nos esforzamos por proporcionar un ambiente acogedor y seguro desde
                el momento en que nos confías a tu mascota.
            </div>
            <div class="w-full row-span-2">
                <img src="{% static 'img/race-distintion/race-distintion-1.JPG' %}" alt=""
                    class="rounded-lg w-full md:w-3/4 h-auto">
            </div>
            <div class="w-full p-4 leading-relaxed lg:leading-loose border-r border-b border-gray-300 shadow-md bg-white rounded-lg">
                Nuestro equipo altamente capacitado está dedicado a cuidar de cada detalle, desde el momento
                en que recibimos a tu mascota hasta que la entregamos a salvo en su destino final. Trabajamos
                en estrecha colaboración con aerolíneas de renombre y cumplimos con los más altos estándares
                de seguridad y bienestar animal para garantizar un viaje sin contratiempos.
            </div>
        </div>

        <div class="flex justify-center w-full">
            <a href="{% url 'index' %}">
                <button class="p-2 px-4 bg-pink-400 text-lg md:text-2xl text-white rounded-md">
                    Volver al Inicio
                </button>
            </a>
        </div>
</section>

{% endblock content %}