{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="relative flex flex-col items-center gap-y-4 md:gap-y-8 w-full p-4 md:p-8 mt-20 bg-pink-100">
    {% comment %} <div class="absolute top-0 right-0 flex justify-end w-full">
        <img src="{% static 'img/over-image/cat-0.png' %}" alt=""
            class="w-32 md:w-44">
    </div> {% endcomment %}
    <div class="relative flex flex-col sm:flex-row items-center w-full bg-pink-400 rounded-lg shadow-lg
        overflow-hidden">
        <div class="flex flex-col items-center gap-y-6 lg:gap-y-12 w-full p-4 rounded-t-lg">
            <div class="text-xl md:text-3xl lg:text-5xl text-center text-white font-semibold">
                {{ "Viaje tranquilo"|upper }}
            </div>
            <div class="w-3/4 text-lg md:text-xl lg:text-3xl text-center text-white font-regular">
                El bienestar de tu mascota es nuestra prioridad, por lo que nos aseguramos de que 
                viaje seguro y cómodo.
            </div>
        </div>
        <div class="flex items-center w-3/5">
            <img src="{% static 'img/travel-quietly/bull-dog.png' %}" alt="">
        </div>
        <div 
            class="absolute -bottom-8 md:-bottom-12 lg:-bottom-24 left-0 w-full 
                h-12 md:h-20 lg:h-40 bg-blue-500 rounded-[100%]">
        </div>
    </div>

    <div class="flex flex-col items-center w-full bg-white rounded-lg shadow-lg">
        <div class="flex flex-col items-center gap-y-4 w-full p-8">
            <div class="text-lg md:text-xl text-center text-white text-zinc-600">
                Somos una empresa joven que cuenta con bases operativas tanto en Argentina como España;
                buscamos posicionarnos en el mercado, brindando a nuestros clientes un servicio de excelencia.
            </div>
            <div class="text-lg md:text-xl text-center text-white text-zinc-600">
                Entendemos que el transporte de tu mascota y todo lo que conlleva esto, puede ser todo un desafio.
                Es por eso que nuestro compromiso principal es brindarte ante todo seguridad, responsabilidad,
                confianza y todo el amor que necesita tu mascota al momento de emprender un nuevo destino.
            </div>
            <div class="text-lg md:text-xl text-center text-white text-zinc-600">
                Sabemos que son parte de tu familia, por eso deseamos que al momento que nos elijas sepas que 
                están en las mejores manos.
            </div>
            <div class="text-lg md:text-xl text-center text-white text-zinc-600">
                Para su traslado contamos con personal altamente capacitado, que entiende las necesidades de 
                estas en cuanto al manejo de diversas razas. Además, contamos con unidades equipadas con 
                sistemas de ventilación y seguridad que garantizan un viaje seguro y cómodo para su mascota.
            </div>
        </div>
    </div>

    <div class="flex justify-center w-full">
        <a href="{% url 'index' %}">
            <button class="p-2 px-4 bg-pink-400 text-lg md:text-2xl text-white rounded-md">
                Volver al Inicio
            </button>
        </a>
    </div>
</section>

{% endblock content %}
