{% load static %}
{% load inclusiontag.custom_button %}

{% static "img/country-requirement/world-map-2.png" as map_img %}
<div class="relative flex flex-col lg:flex-row items-center justify-center lg:justify-end gap-y-6 lg:gap-y-12 
    w-full h-screen p-4 bg-[url('{{ map_img }}')] bg-cover bg-no-repeat bg-center">

    <!-- Difuminado -->
    <div class="absolute bottom-0 left-0 w-full h-full 
        bg-gradient-to-l from-blue-900/95 from-45% via-blue-900/90 via-55% to-blue-100/90 to-100%">
    </div>

    <!-- Textos-->
    <div class="z-0 flex flex-col items-center justify-evenly gap-y-6 lg:gap-y-8 w-full lg:w-1/2 h-full rounded-t-lg">
        <div class="p-4 text-xl md:text-3xl lg:text-5xl text-center text-white font-semibold titles">
            {{ "Requisitos de ingreso por pais"|upper }}
        </div>
        <div class="w-full text-lg md:text-xl lg:text-3xl text-center text-white font-regular">
            Cada país tiene sus propios requisitos para el ingreso de mascotas, por lo que
            es importante que te informes de los requerimientos de tu próximo destino.
        </div>

        <!-- Boton -->
        {% url "country-requirement" as my_url %}
        {% custom_button my_url none "Seguir leyendo" %}
    </div>

</div>
