{% load static %}
{% load i18n %}
{% load unicorn %}


<section id="quotation_section" class="flex justify-center w-full px-8 py-12 bg-primary-blue_extralight 
    text-lg text-secondary-grey_semidark scroll-mt-20"
>
    <!-- Quotation Form -->
    <div class="flex flex-col gap-y-4 md:gap-y-12 w-full max-w-5xl">
        <h2 class="text-3xl md:text-4xl md:text-center text-secondary-grey_dark 
            font-secondary_font font-black tracking-wide"
        >{% trans "Solicitud de Cotización" %}</h2>
        <form id="quotation_form" action="{% url 'quotation' %}" method="post" enctype="multipart/form-data" 
            class="flex flex-col gap-y-4 md:gap-y-8 w-full font-primary_font"
        >
            {% csrf_token %}
            <div style="display:none;">
                <label for="honeypot">Leave this field empty</label>
                <input type="text" name="honeypot" id="honeypot">
            </div>
    
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
                <div class="space-y-2">
                    <label>{% trans "Nombre del propietario" %}</label>
                    <input type="text" name="owner_name" class="w-full px-4 py-2 bg-white outline-none ring-2 ring-primary-blue_light 
                        focus:ring-primary-blue rounded-sm" required
                    >
                </div>
                <div class="space-y-2">
                    <label>{% trans "Email" %}</label>
                    <input type="email" name="email" class="w-full px-4 py-2 bg-white outline-none ring-2 ring-primary-blue_light 
                        focus:ring-primary-blue rounded-sm" required
                    >
                </div>
                <div class="space-y-2">
                    <label>{% trans "Teléfono" %}</label>
                    <input type="tel" name="phone" class="w-full px-4 py-2 bg-white outline-none ring-2 ring-primary-blue_light 
                        focus:ring-primary-blue rounded-sm" required
                    >
                </div>
                <div class="space-y-2">
                    <label>{% trans "Nombre de su mascota" %}</label>
                    <input type="text" name="pet_name" class="w-full px-4 py-2 bg-white outline-none ring-2 ring-primary-blue_light 
                        focus:ring-primary-blue rounded-sm" required
                    >
                </div>
                <div class="space-y-2">
                    <label>{% trans "Edad de su mascota" %}</label>
                    <input type="number" name="pet_age" class="w-full px-4 py-2 bg-white outline-none ring-2 ring-primary-blue_light 
                        focus:ring-primary-blue rounded-sm" required
                    >
                </div>
                <div class="space-y-2">
                    <label>{% trans "Peso de su mascota" %}</label>
                    <input type="number" name="pet_weight" class="w-full px-4 py-2 bg-white outline-none ring-2 ring-primary-blue_light 
                        focus:ring-primary-blue rounded-sm" required
                    >
                </div>
                <div class="space-y-2">
                    <label>{% trans "Raza de su mascota" %}</label>
                    <input type="text" name="pet_breed" class="w-full px-4 py-2 bg-white outline-none ring-2 ring-primary-blue_light 
                        focus:ring-primary-blue rounded-sm" required
                    >
                </div>
                <div class="space-y-2">
                    <label>{% trans "Fecha del viaje" %}</label>
                    <input type="date" name="travel_date" class="w-full px-4 py-2 bg-white outline-none ring-2 ring-primary-blue_light 
                        focus:ring-primary-blue rounded-sm" required
                    >
                </div>
                <div class="space-y-2">
                    <label>{% trans "Ciudad de Origen" %}</label>
                    <input type="text" name="origin_city" class="w-full px-4 py-2 bg-white outline-none ring-2 ring-primary-blue_light 
                        focus:ring-primary-blue rounded-sm" required
                    >
                </div>
                <div class="space-y-2">
                    <label>{% trans "Ciudad de Destino" %}</label>
                    <input type="text" name="destination_city" class="w-full px-4 py-2 bg-white outline-none ring-2 ring-primary-blue_light 
                        focus:ring-primary-blue rounded-sm" required
                    >
                </div>
                <div class="space-y-2">
                    <label>{% trans "Comentarios" %}</label>
                    <textarea name="comments" class="w-full px-4 py-2 bg-white outline-none ring-2 ring-primary-blue_light 
                        focus:ring-primary-blue rounded-sm"></textarea>
                </div>
                <div class="space-y-2">
                    <label>{% trans "Subí la foto actual de tu mascota a trasladar" %}</label>
                    <input type="file" name="pet_photo" class="w-full px-4 py-2 bg-white outline-none ring-2 ring-primary-blue_light 
                        focus:ring-primary-blue rounded-sm" required
                    >
                </div>
            </div>
    
            {% if products %}
            <div class="w-full">
                <label>{% trans "Productos" %}:</label>
                {% include "components/products.html" %}
            </div>
            {% endif %}
            
            <label class="flex items-center gap-x-4">
                <input type="checkbox" name="terms" class="form-checkbox scale-[1.75]" required="True">
                <span>{% trans "He leído y acepto los" %}
                    <a class="text-primary-red font-semibold" href="{{ config.terms_and_conditions.url }}" 
                        target="_blank"
                    >{% trans "términos y condiciones" %}</a>
                </span>
            </label>
            
            <!-- Send Quotation Button -->
            <button type="submit" class="self-end flex items-center gap-x-2 w-full md:w-fit px-4 py-2 bg-primary-red 
                text-secondary-grey_extralight rounded-md shadow-lg shadow-primary-red/70 hover:animate-pulse"
            >
                {% include "icons/paper-airplane.html" with tailwind_class="size-9" %}
                <span class="w-full text-center">{% trans "Enviar solicitud" %}</span>
            </button>
        </form>
    </div>
</section>

<script type="module" src="{% static 'js/cart.js' %}"></script>
