{% load static %}
{% load inclusiontag.custom_button %}

<div class="relative flex flex-col lg:flex-row-reverse items-center gap-y-6 lg:gap-y-12 
    w-full h-full lg:h-screen p-4 bg-blue-50">

    <!-- Textos -->
    <div class="flex flex-col items-center justify-center gap-y-6 lg:gap-y-8 w-full h-full rounded-t-lg">
        <div class="p-4 bg-blue-900 text-xl md:text-3xl lg:text-5xl text-center text-white font-semibold rounded-sm titles">
            {{ "Sin distinción de raza"|upper }}
        </div>
        <div class="w-full text-lg md:text-2xl lg:text-3xl text-center text-blue-900 font-regular">
            En Aerolineas para mascotas no hacemos distinción de raza, todas las mascotas son Bienvenidas.
        </div>

        <!-- Boton -->
        {% url "race-distintion" as my_url %}
        {% custom_button my_url none "Seguir leyendo" %}
    </div>

    <!-- Imagenes -->
    <div class="flex items-center w-full lg:w-3/4 h-full">
        <div class="relative flex flex-col lg:flex-col mx-auto">
            {% static "/img/race-distintion/boxer.webp" as boxer_img %}
            <div class="w-40 md:w-52 lg:w-64 h-40 md:h-52 lg:h-64 bg-[url('{{ boxer_img }}')] bg-cover bg-no-repeat bg-center 
                -translate-x-8 translate-y-4 rounded-lg ring ring-blue-900 ring-offset-2 skew-y-3">
            </div>
            {% static "/img/race-distintion/birmano-cat.png" as birmano_img %}
            <div class="w-40 md:w-52 lg:w-64 h-40 md:h-52 lg:h-64 bg-[url('{{ birmano_img }}')] bg-cover bg-no-repeat bg-center 
                translate-x-8 -translate-y-4 rounded-lg ring ring-blue-900 ring-offset-2 -skew-y-3">
            </div>
        </div>
    </div>
    
</div>
