{% load static %}

<div class="relative flex flex-col sm:flex-row items-center w-full pt-12 py-6 
    bg-pink-400 overflow-hidden">
    <div class="flex flex-col items-center gap-y-6 lg:gap-y-8 w-full p-4 rounded-t-lg">
        <div class="text-xl md:text-3xl lg:text-5xl text-center text-white font-semibold">
            {{ "Viaje tranquilo"|upper }}
        </div>
        <div class="w-full text-lg md:text-xl lg:text-3xl text-center text-white font-regular">
            El bienestar de tu mascota es nuestra prioridad, por lo que nos aseguramos de que 
            viaje seguro y cómodo.
        </div>
        <button type="button" 
            class="w-full md:w-3/4 p-2 text-lg md:text-xl lg:text-3xl text-center text-white">
            Seguir leyendo
        </button>
    </div>
    <div class="flex items-center w-3/5">
        <img src="{% static 'img/travel-quietly/bull-dog.png' %}" alt="">
    </div>
    <div class="absolute -bottom-10 lg:-bottom-16 left-0 w-full 
        h-20 lg:h-32 bg-blue-500 rounded-[100%]">
    </div>
</div>
