{% load static %}
{% load inclusiontag.custom_button %}

{% static "img/plane.jpg" as bg_plane %}
<div class="relative flex flex-col lg:flex-row items-center gap-y-6 lg:gap-y-12 w-full h-full lg:h-screen 
    p-4 bg-[url('{{ bg_plane }}')] bg-cover bg-no-repeat bg-left lg:bg-center belleza-regular">

    <!-- Difuminado -->
    <div class="absolute bottom-0 left-0 w-full h-full bg-blue-900 bg-opacity-90"></div>

    <!-- Textos-->
    <div class="z-0 flex flex-col items-center gap-y-6 lg:gap-y-8 w-full rounded-t-lg">
        <div class="p-4 text-xl md:text-3xl lg:text-5xl text-center text-white font-semibold titles">
            {{ "Viaje tranquilo"|upper }}
        </div>
        <div class="w-full text-lg md:text-xl lg:text-3xl text-center text-white font-regular">
            El bienestar de tu mascota es nuestra prioridad, por lo que nos aseguramos de que viaje seguro y cómodo.
        </div>

        <!-- Boton -->
        {% url "travel-quietly" as my_url %}
        {% custom_button label="Seguir leyendo" url=my_url btn_tailwind="hover:scale-110" %}
    </div>

    <!-- Imagenes -->
    <div class="z-20 flex items-center w-full lg:w-3/4 h-full">
        <div class="relative flex flex-col lg:flex-col mx-auto">
            {% static "/img/DANI/FliaAlonzo.jpg" as flia_1 %}
            <div class="w-40 md:w-52 lg:w-64 h-40 md:h-52 lg:h-64 bg-[url('{{ flia_1 }}')] bg-cover bg-no-repeat bg-center 
                -translate-x-12 translate-y-8 rounded-full ring ring-white ring-offset-2 ring-offset-blue-900">
            </div>
            {% static "/img/DANI/FliaCuevas.jpg" as flia_2 %}
            <div class="w-40 md:w-52 lg:w-64 h-40 md:h-52 lg:h-64 bg-[url('{{ flia_2 }}')] bg-cover bg-no-repeat bg-center 
                translate-x-12 -translate-y-8 rounded-full ring ring-white ring-offset-2 ring-offset-blue-900">
            </div>
        </div>
    </div>

</div>
