{% load static %}

<div class="z-20 relative flex items-center justify-end w-full h-screen bg-[url('{{ bg_plane }}')] 
    bg-cover bg-no-repeat bg-[position:-50px_center] sm:bg-center overflow-hidden">
    <div class="z-20 flex flex-col items-center justify-end gap-y-6 sm:gap-y-12 w-full h-full p-6 md:p-12">
        <div class="w-full text-lg md:text-3xl lg:text-5xl text-center text-white font-semibold">
            {{ "Requisitos de viaje aeroe por raza"|upper }}
        </div>
        <div class="w-full md:w-3/4 text-md md:text-xl lg:text-3xl text-center text-white font-regular">
            Algunas razas pueden necesitar cuidados especiales de cara al viaje en altura, 
            es importante que sepas si tu mascota pertenece a alguna de estas.
        </div>
    </div>
    <div class="z-10 absolute -bottom-[2rem] md:-bottom-[12rem] left-0 w-full h-[10rem] md:h-[25rem] 
        bg-pink-400 rounded-[50%] scale-150 md:scale-100">
    </div>
</div>
