{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="flex flex-col w-full">

    <!-- Main Banner -->
    <div class="z-40 w-full h-screen">
        {% static '/img/DANI/familia_recortada.jpg' as url_img %}
        {% include 'components/landscape.html' with url_img=url_img %}
    </div>

    <!-- Sin distinción de raza  -->
    {% include './components-index/race-distintion-section.html' %}

    <!-- Requisitos de viaje aeroe por raza  -->
    {% static 'img/plane.jpg' as bg_plane %}
    {% include './components-index/travel-restriction-section.html' with bg_plane=bg_plane %}

    <!-- Viaje tranquilo -->
    {% include './components-index/travel-quietly-section.html' %}

    <!-- Begin - Requisitos de ingreso por pais -->
    {% static 'img/Usables/bg-img-3-copy2.jpg' as bg_travel %}
    {% include './components-index/country-requirement-section.html' with bg_travel=bg_travel %}

</section>

{% static 'img/Usables/bg-img-3-copy2.jpg' as bg_review %}
<section class="w-full mt-12 flex items-center justify-center bg-[url('{{ bg_review }}')]
    bg-center bg-no-repeat bg-cover">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-items-center w-full gap-6
        p-8">
        {% static 'img/DANI/FliaAlonzo.jpg' as flia1 %}
        {% static 'img/DANI/FliaBER.jpg' as flia2 %}
        {% static 'img/DANI/FliaCuevas.jpg' as flia3 %}

        {% include "components/review.html" with destino='Buenos Aires - Paris' perfil=flia1 reseña='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' %}
        {% include "components/review.html" with destino='Viña del mar - Tucuman' perfil=flia2 reseña='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' %}
        {% include "components/review.html" with destino='Uruguay - Grecia' perfil=flia3 reseña='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' %}
    </div>
</section>

{% endblock content %}
