{% load static %}

<div class="relative bg-gradient-to-r from-blue-900 to-indigo-900 text-white">
  <div class="absolute inset-0 opacity-10 bg-center bg-no-repeat bg-contain"
    style="background-image: url('https://www.aerolineasparamascotas.com/static/img/logo-minimalista.png');"></div>

  <div class="relative container mx-auto max-w-4xl py-12">
    <div class="text-center">
      <h3 class="mb-4 text-2xl sm:text-4xl font-extrabold tracking-wide uppercase">Aerolíneas para Mascotas</h3>
      <p class="text-lg font-light">Tus mascotas en las mejores manos</p>
      <div class="flex justify-center my-6">
        <img src="{% static 'img/logo-minimalista.png' %}" alt="Logo Aerolíneas para Mascotas"
          class="h-28 w-28 rounded-full shadow-lg " />
      </div>
      <div class="flex flex-col lg:flex-row items-center lg:justify-between gap-6 p-2">

        <!-- Social Networks -->
        <div class="flex flex-col gap-y-4">
          <div class="text-lg">Redes Sociales</div>
          <div class="flex flex-row gap-6">
            <a href="https://www.instagram.com/aerolineasparamascotas?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="flex items-center px-4 py-2 rounded-lg bg-slate-900 hover:bg-slate-600 transition">
              <span class="[&>svg]:h-7 [&>svg]:w-7 [&>svg]:fill-[#c13584]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                </svg>
              </span>
            </a>
            <a href="#" class="flex items-center px-4 py-2 rounded-lg bg-slate-900 hover:bg-slate-600 transition">
              <span class="[&>svg]:h-7 [&>svg]:w-7 [&>svg]:fill-[#1877f2]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                  <path d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z" />
                </svg>
              </span>
            </a>
            <a href="#" class="flex items-center px-4 py-2 rounded-lg bg-slate-900 hover:bg-slate-600 transition">
              <span class="[&>svg]:h-7 [&>svg]:w-7 [&>svg]:fill-[#6a76ac]">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                  <path d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z" />
                </svg>
              </span>
            </a>
          </div>
        </div>

        <!-- Sponsors -->
        <div class="flex flex-col gap-y-4">
          <div class="text-lg">Nuestros Sponsors</div>
          <div class="grid grid-cols-2 sm:grid-cols-4 gap-6">
            <img src="{% static 'img/sponsors/air-europa-logo.png' %}" alt="" class="w-20 bg-white rounded-lg">
            <img src="{% static 'img/sponsors/ita-airways-logo.png' %}" alt="" class="w-20 bg-white rounded-lg">
            <img src="{% static 'img/sponsors/avianca-logo.png' %}" alt="" class="w-20 bg-white rounded-lg">
            <img src="{% static 'img/sponsors/aero-arg-2000-logo.png' %}" alt="" class="w-20 bg-white rounded-lg">
          </div>
        </div>

      </div>
    </div>
    <!-- #TODO AJUSTAR ESTOS DATOS! -->
    <div class="mt-20 flex flex-col items-center text-gray-300 md:flex-row md:justify-between">
      <p class="text-sm md:order-1">Email: contacto@aerolineasparamascotas.com</p>
      <div class="order-1 mb-6 md:mb-0 md:order-2 text-center">
        <a href="#" class="px-3 text-sm hover:text-white transition">Direccion: Goya 242</a>
        <a href="#" class="border-l border-gray-500 px-3 text-sm hover:text-white transition">Horarios: Lunes a viernes
          de 9:00 AM - 16:00 PM</a>
      </div>
    </div>
  </div>
</div>