{% load static %}
{% load i18n %}


<div class="relative bg-gradient-to-b md:bg-gradient-to-r from-primary-blue_dark to-primary-blue_dark/90 text-white">
  	<div class="absolute inset-0 opacity-10 bg-center bg-no-repeat bg-contain 
    	bg-[url('https://www.aerolineasparamascotas.com/static/img/logo-minimalista.png')]"
  	></div>

  	<div class="relative flex flex-col gap-y-12 max-w-4xl mx-auto py-12 text-center">
		<!-- Begin Footer Title -->
		<div class="flex flex-col items-center gap-y-4">
			<h1 class="text-xl sm:text-3xl font-secondary_font font-bold tracking-wide uppercase">Aerolíneas para Mascotas</h1>
			<h2 class="text-lg font-light">{% trans "footer_motto" %}</h2>
		</div>
		<!-- End Footer Title -->

		<!-- Begin Footer Content -->
		<div class="flex flex-col items-center lg:flex-row lg:items-start lg:justify-between gap-8">
			<!-- Begin Social Networks -->
			<div class="flex flex-col gap-y-6 md:w-1/2">
				<div class="flex items-center gap-x-4">
					{% include "icons/share.html" with tailwind_class="size-5 fill-white" %}
					<h3 class="text-lg">{% trans "our_social_media" %}</h3>
				</div>

				<div class="flex flex-wrap gap-6">
					<a href="https://www.instagram.com/aerolineasparamascotas?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" 
						class="flex items-center px-4 py-3 rounded-lg bg-slate-900 hover:bg-slate-600 transition">
						{% include "icons/instagram.html" with tailwind_class="size-7 fill-[#c13584]" %}
					</a>
					<a href="https://www.facebook.com/profile.php?id=61557834197668" 
						class="flex items-center px-4 py-3 rounded-lg bg-slate-900 hover:bg-slate-600 transition">
						{% include "icons/facebook.html" with tailwind_class="size-7 fill-[#1877f2]" %}
					</a>
					<a href="#" class="flex items-center px-4 py-3 rounded-lg bg-slate-900 hover:bg-slate-600 transition">
						{% include "icons/tik-tok.html" with tailwind_class="size-7 fill-[#6a76ac]" %}
					</a>
				</div>
			</div>
			<!-- End Social Networks -->

			<!-- Begin Sponsors -->
			<div class="flex flex-col gap-y-6 w-1/2">
				<div class="flex items-center gap-x-4">
					{% include "icons/star.html" with tailwind_class="size-5 fill-white" %}
					<h3 class="text-lg">{% trans "our_sponsors" %}</h3>
				</div>
				<div class="grid grid-cols-2 sm:grid-cols-4 place-items-center gap-6">
					<img src="{% static 'img/sponsors/air-europa-logo.png' %}" alt="" class="size-full bg-white rounded-lg">
					<img src="{% static 'img/sponsors/ita-airways-logo.png' %}" alt="" class="size-full bg-white rounded-lg">
					<img src="{% static 'img/sponsors/avianca-logo.png' %}" alt="" class="size-full bg-white rounded-lg">
					<img src="{% static 'img/sponsors/aero-arg-2000-logo.png' %}" alt="" class="size-full bg-white rounded-lg">
					<a href="https://www.dinamolog.com.ar/" class="col-span-2 size-full p-5 bg-white rounded-lg">
						<img src="{% static 'img/sponsors/dinamo-li-logo.png' %}" alt="" class="size-full">
					</a>
				</div>
			</div>
			<!-- End Sponsors -->
		</div>

		<!-- Begin Contacts -->
		<div class="flex flex-col items-center gap-y-2 text-gray-300 md:flex-row md:justify-around text-md">
			<p class="md:order-1">{% trans "Email" %}: 
				<a href="https://mail.google.com/mail/?view=cm&fs=1&to=aem.logistica.arg@gmail.com" target="_blank"
					class="hover:text-white transition-colors duration-200 ease-in-out"
				>aem.logistica.arg@gmail.com</a>
			</p>
			<p class="order-1 md:order-2">{% trans "Contacto" %}: 
				<button onclick="redirectToWA('AEM')" class="hover:text-white transition-colors duration-200 ease-in-out">
					+54 9 1160375662
				</button>, 
				<button onclick="redirectToWA('VDR')" class="hover:text-white transition-colors duration-200 ease-in-out">
					+54 9 1150599636
				</button>
			</p>
		</div>
		<!-- End Contacts -->
		<!-- End Footer Content -->

		<!--Begin Copyright -->
		<div id="copyright" class="flex flex-col md:flex-row items-center justify-center gap-2 text-white text-md">
			<div class="flex flex-row items-center gap-x-3">
				{% include "icons/copyright.html" with tailwind_class="size-5" %}
				<div class="text-center">{{ current_year }}, Aerolineas para Mascotas.</div>
			</div>
			<div class="text-center">{% trans "copyright" %}</div>
			<div>|</div>
			<div class="text-center">{% trans "powered_by" %} Quinoto</div>
		</div>
		<!--End Copyright -->
  	</div>
</div>
