<div class="relative w-full h-auto">
    <img src="{{url_img}}" >
    <div class="absolute bottom-0 left-0 right-0 h-1/2 bg-gradient-to-t from-blue-500 to-transparent"></div>
    <div class="absolute bottom-3 left-0 right-0 flex flex-col items-center gap-y-1 sm:gap-y-2 lg:gap-y-4
        text-white">
        <div class="text-xs sm:text-lg md:text-2xl lg:text-4xl font-semibold">
            {{ "Translado internacional de mascotas"|upper }}
        </div>
        <div class="text-xs sm:text-lg md:text-2xl lg:text-4xl">
            {{ "¿A donde vas?"|upper }}
        </div>
        <button class="px-4 py-1 bg-pink-400 text-xs sm:text-lg md:text-2xl lg:text-3xl rounded-md">
            Ver más
        </button>
    </div>
</div>
