{% load static %}

<div class="fixed z-50 left-0 top-0 w-full p-2 bg-blue-500 shadow-lg">
    <div class="flex flex-row justify-between px-6">
        <div>
            <img class="w-16 h-16 drop-shadow-lg" 
                src="{% static 'img/logo-minimalista.png' %}" alt="logotipo">
        </div>

        <div id="btn_open_menu" class="md:hidden flex items-center text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" 
                stroke="currentColor" class="size-6 cursor-pointer">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>                      
        </div>

        <div class="hidden md:flex flex-row items-center gap-x-6 text-white">
            <a {% if request.path != '/' %} href="{% url 'index' %}" {% endif %}>
                <div class="{% if request.path == '/' %} border-b-2 border-white {% endif %}">
                    Inicio
                </div>
            </a>
            <div class="cursor-pointer">
                Quienes somos
            </div>
            <div id="nav_item_before_fly" class="relative cursor-pointer">
                <div class="item_content h-full p-2 hover:bg-white hover:text-blue-500 hover:rounded-sm">
                    Previo a volar
                </div>
                <div class="sub_menu hidden absolute -bottom-100 right-0 w-[18rem] flex flex-col gap-y-3 
                    p-3 bg-white rounded-sm shadow-md">
                    <div id="btn_close_sub_menu" class="flex items-center w-fit text-left text-black">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                            class="size-4 cursor-pointer transition-transform hover:-rotate-90">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>          
                    </div>
                    <a {% if request.path != '/sin-distincion-de-raza/' %} href="{% url 'race-distintion' %}" {% endif %}>
                        <div class="p-1 text-right hover:text-pink-400
                            {% if request.path == '/sin-distincion-de-raza/' %} 
                            text-pink-500 
                            {% else %} 
                            text-blue-500 
                            {% endif %}">
                            Sin dintincion de raza
                        </div>
                    </a>
                    <a {% if request.path != '/restricciones-por-raza/' %} href="{% url 'travel-restriction' %}" {% endif %}>
                        <div class="p-1 text-right hover:text-pink-400
                            {% if request.path == '/restricciones-por-raza/' %} 
                            text-pink-500 
                            {% else %} 
                            text-blue-500 
                            {% endif %}">
                            Requisitos de viaje aereo por raza
                        </div>
                    </a>
                    <a {% if request.path != '/viaje-tranquilo/' %} href="{% url 'travel-quietly' %}" {% endif %}>
                        <div class="p-1 text-right hover:text-pink-400
                            {% if request.path == '/viaje-tranquilo/' %} 
                            text-pink-500 
                            {% else %} 
                            text-blue-500 
                            {% endif %}">
                            Viaje tranquilo
                        </div>
                    </a>
                    <a {% if request.path != '/requisitos-de-ingreso-por-pais/' %} href="{% url 'country-requirement' %}" {% endif %}>
                        <div class="p-1 text-right hover:text-pink-400
                            {% if request.path == '/requisitos-de-ingreso-por-pais/' %} 
                            text-pink-500 
                            {% else %} 
                            text-blue-500 
                            {% endif %}">
                            Requisitos de ingreso por pais
                        </div>
                    </a>
                </div>
            </div>
            <div class="cursor-pointer">
                Contactanos
            </div>
        </div>
    </div>
</div>
