{% load static %}
{% load inclusiontag.custom_bar_item %}


<!-- Navbar -->
<header class="fixed z-50 left-0 top-0 w-full p-2 bg-secondary-grey_light shadow-lg shadow-secondary-grey/50">
    <!-- Navbar Content -->
    <div class="flex flex-row items-center justify-between px-2">
        <!-- Logo -->
        <img class="size-16 drop-shadow-lg" src="{% static 'img/logo-minimalista.png' %}" alt="logotipo">

        <!-- Open Menu Button - Only MD Screen and smaller -->
        <button id="btn_open_menu" class="lg:hidden flex items-center gap-x-2 text-lg lg:text:md 
            text-primary-blue_dark" onclick="toggleElementByClick('sidebar', 'translate-x-full')"
        >
            <span>Menú</span>
            {% include "icons/menu.html" with tailwind_class="size-7" %}
        </button>

        <!-- Navbar Items --> <!-- TODO: Quienes Somos, Destinos, Servicios -> Check -->
        <div class="hidden lg:flex flex-row gap-x-2 text-md">
            {% url 'index' as index_url %}
            {% nav_item request.path index_url "Inicio" "#" "/" "nav_item_index" %}

            {% url 'about-us' as about_us_url %}
            {% nav_item request.path about_us_url "Quienes somos" "#about_us_section" "/quienes-somos/" "nav_item_about_us" %}

            {% nav_item request.path about_us_url "Servicios" "" "/servicios/" "nav_item_services" %}

            {% nav_item request.path about_us_url "Destinos" "#destination_section" "/destinos/" "nav_item_destination" %}

            {% url 'quotation' as quotation_url %}
            {% nav_item request.path quotation_url "Contacto" "" "/cotizar-traslado/" "nav_item_quotation" %}
        </div>

        <!-- Language Selector --> <!-- TODO: I18N with Django -->
        <div class="hidden lg:block">
            <select class="hidden" id="language_selector" name="language">
                <option value="es">Español</option>
                <option value="en">Inglés</option>
            </select>
        </div>
    </div>
</header>
