{% load static %}
{% load inclusiontag.nav_item_tag %}


<div class="fixed z-50 left-0 top-0 w-full p-2 bg-blue-500 shadow-lg">
    <div class="flex flex-row justify-between px-6">
        <div>
            <img class="w-16 h-16 drop-shadow-lg" 
                src="{% static 'img/logo-minimalista.png' %}" alt="logotipo">
        </div>

        <div id="btn_open_menu" class="md:hidden flex items-center text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" 
                stroke="currentColor" class="size-6 cursor-pointer">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>                      
        </div>

        <div class="hidden md:flex flex-row items-center gap-x-4 text-white">
            <a {% if request.path != '/' %} href="{% url 'index' %}" {% endif %}>
                <div class="p-2
                    {% if request.path == '/' %} bg-white text-blue-500 rounded-sm
                    {% else %} hover:bg-white hover:text-blue-500 hover:rounded-sm
                    {% endif %}">
                    Inicio
                </div>
            </a>
            <div class="cursor-pointer">
                <div class="p-2
                    {% if request.path == '/quienes-somos/' %} bg-white text-blue-500 rounded-sm
                    {% else %} hover:bg-white hover:text-blue-500 hover:rounded-sm
                    {% endif %}">
                    Quienes somos
                </div>
            </div>
            <div id="nav_item_before_fly" class="relative cursor-pointer">
                <div class="item_content h-full p-2 hover:bg-white hover:text-blue-500 hover:rounded-sm">
                    Previo a volar
                </div>
                <div class="sub_menu hidden absolute -bottom-100 right-0 w-[18rem] flex flex-col gap-y-3 
                    p-3 bg-blue-500 rounded-sm shadow-lg shadow-gray-500">
                    <div class="flex justify-end w-full text-white">
                        <svg id="btn_close_sub_menu" xmlns="http://www.w3.org/2000/svg" fill="none" 
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                            class="size-4 cursor-pointer transition-transform hover:-rotate-90">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>          
                    </div>
                    {% url 'race-distintion' as rd_url %}
                    {% nav_item request.path "/sin-distincion-de-raza/" rd_url "Sin dintincion de raza" %}

                    {% url 'travel-restriction' as tr_url %}
                    {% nav_item request.path "/restricciones-por-raza/" tr_url "Requisitos de viaje aereo por raza" %}
                    
                    {% url 'travel-quietly' as tq_url %}
                    {% nav_item request.path "/viaje-tranquilo/" tq_url "Viaje tranquilo" %}

                    {% url 'country-requirement' as cr_url %}
                    {% nav_item request.path "/requisitos-de-ingreso-por-pais/" cr_url "Requisitos de ingreso por pais" %}
                </div>
            </div>
            <div class="cursor-pointer">
                <div id="contact_us" class="p-2
                    {% if request.path == '/contactanos/' %} bg-white text-blue-500 rounded-sm
                    {% else %} hover:bg-white hover:text-blue-500 hover:rounded-sm
                    {% endif %}">
                    Contactanos
                </div>
            </div>
        </div>
    </div>
</div>
