{% load i18n %}

<div class="relative flex flex-col w-full min-w-full transition-all duration-300 ease-in-out 
    md:hover:z-10 md:hover:scale-105 group/news-card"
>
    <!-- Imagen de fondo -->
    <div class="size-full min-h-48 md:max-h-72 p-4 rounded-2xl translate-y-6 md:translate-y-0 
        transition-all duration-300 ease-in-out
        {% if forloop.counter0|divisibleby:2 %}
        md:group-hover/news-card:translate-x-1/2
        {% else %}
        md:group-hover/news-card:-translate-x-1/2
        {% endif %}"
    >
        <img src="{{ new.image.url }}" alt="image" class="size-full object-cover rounded-2xl">
    </div>

    <!-- Caja blanca superpuesta -->
    <div class="relative md:absolute md:top-0 flex flex-col gap-y-3 size-full 
        md:max-w-sm min-h-48 md:max-h-72 bg-white text-wrap rounded-2xl shadow-lg p-6 
        {% if forloop.counter0|divisibleby:2 %}
        left-0
        {% else %}
        right-0
        {% endif %}"
    >
        <h1 class="text-lg font-secondary font-bold">{{ new.title }}</h1>
        <p class="text-gray-500 text-sm">{{ new.content }}</p>
        <div class="flex justify-between items-center mt-auto text-sm">
            <div class="flex flex-col gap-y-1 text-gray-400">
                {% if new.start_date %}
                <span>{% trans "from" %} {{ new.start_date|date:"j F, Y" }}</span>
                {% endif %}
                {% if new.end_date %}
                <span>{% trans "to" %} {{ new.end_date|date:"j F, Y" }}</span>
                {% endif %}
            </div>
            <button type="button" class="flex items-end gap-1 py-2 px-4 text-primary-blue_dark font-semibold 
                rounded-md hover:bg-primary-blue_light"
            >
                Detalle 
                {% include "icons/arrow-long-down.html" with tailwind_class="size-4 -rotate-90" %}
            </button>
        </div>

        {% if new.is_featured %}
        <div class="absolute top-2 right-2 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-pin size-5 text-primary-red" viewBox="0 0 16 16">
                <path d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A6 6 0 0 1 5 6.708V2.277a3 3 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354m1.58 1.408-.002-.001zm-.002-.001.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a5 5 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a5 5 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.8 1.8 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14q.091.15.214.271a1.8 1.8 0 0 0 .37.282"/>
            </svg>
        </div>
        {% endif %}
    </div>
</div>
