<div id="side_navbar_menu" class="md:hidden fixed z-50 right-0 top-0 flex flex-col w-full h-full 
    px-5 bg-white transform translate-x-full transition-transform duration-300 ease-in-out">

    <div class="flex flex-row items-center justify-between border-b-2 border-gray-300">
        <div class="text-xl">
            Menú
        </div>
        <div id="btn_close_menu" class="flex items-center h-20">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
                stroke-width="1.5" stroke="currentColor" class="size-7 cursor-pointer">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>          
        </div>
    </div>

    <div class="md:hidden flex flex-col items-center gap-y-6 w-full h-full p-12 text-black">
        <div class="
            {% if request.path == '/' %} 
            border-b-2 border-black 
            {% else %}
            cursor-pointer
            {% endif %}">
            Inicio
        </div>
        <div class="cursor-pointer">
            Quienes somos
        </div>
        <div class="cursor-pointer">
            Servicios
        </div>
        <div class="cursor-pointer">
            Contactanos
        </div>
    </div>
</div>
