<div id="side_navbar_menu" class="md:hidden fixed z-50 right-0 top-0 flex flex-col w-full h-full 
    px-5 bg-white transform translate-x-full transition-transform duration-300 ease-in-out">

    <div class="flex flex-row items-center justify-between border-b-2 border-gray-300">
        <div class="text-xl">
            Menú
        </div>
        <div id="btn_close_menu" class="flex items-center h-20">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
                stroke-width="1.5" stroke="currentColor" class="size-7 cursor-pointer">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>          
        </div>
    </div>

    <div class="md:hidden flex flex-col items-center gap-y-6 w-full h-full p-2 py-12 text-black text-center">
        <a class="w-full" {% if request.path != '/' %} href="{% url 'index' %}" {% endif %}>
            <div class="p-2
                {% if request.path == '/' %} bg-blue-500 text-white rounded-sm {% endif %}">
                Inicio
            </div>
        </a>
        <div class="cursor-pointer">
            <div class="p-2 
                {% if request.path == '/quienes-somos/' %} bg-blue-500 text-white rounded-sm {% endif %}">
                Quienes somos
            </div>
        </div>
        <div id="nav_item_before_fly_mobile" class="relative flex flex-col items-center cursor-pointer">
            <div class="flex flex-row gap-x-4 h-full p-2">
                <div>
                    Previo a volar
                </div>
                <div class="item_content flex items-center w-fit text-center text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" 
                        stroke="currentColor" 
                        class="arrow size-5 transition-transform duration-300 ease-in-out rotate-0">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>      
                </div>
            </div>
            <div class="sub_menu hidden flex flex-col gap-y-3 p-2 bg-white rounded-sm shadow-lg">
                <a {% if request.path != '/sin-distincion-de-raza/' %} href="{% url 'race-distintion' %}" {% endif %}>
                    <div class="p-2 text-center 
                        {% if request.path == '/sin-distincion-de-raza/' %} bg-blue-500 text-white rounded-sm {% endif %}">
                        Sin dintincion de raza
                    </div>
                </a>
                <a {% if request.path != '/restricciones-por-raza/' %} href="{% url 'travel-restriction' %}" {% endif %}>
                    <div class="p-2 text-center 
                        {% if request.path == '/restricciones-por-raza/' %} bg-blue-500 text-white rounded-sm {% endif %}">
                        Requisitos de viaje aereo por raza
                    </div>
                </a>
                <a {% if request.path != '/viaje-tranquilo/' %} href="{% url 'travel-quietly' %}" {% endif %}>
                    <div class="p-2 text-center 
                        {% if request.path == '/viaje-tranquilo/' %} bg-blue-500 text-white rounded-sm {% endif %}">
                        Viaje tranquilo
                    </div>
                </a>
                <a {% if request.path != '/requisitos-de-ingreso-por-pais/' %} href="{% url 'country-requirement' %}" {% endif %}>
                    <div class="p-2 text-center 
                        {% if request.path == '/requisitos-de-ingreso-por-pais/' %} bg-blue-500 text-white rounded-sm {% endif %}">
                        Requisitos de ingreso por pais
                    </div>
                </a>
            </div>
        </div>
        <div class="cursor-pointer">
            Contactanos
        </div>
    </div>
</div>
