{% load static %}


<div id="modal" class="z-50 fixed inset-0 hidden bg-secondary-grey_dark/50 backdrop-blur-sm">
    <div id="bottom_sheet" class="absolute bottom-0 left-1/2 transform -translate-x-1/2 flex flex-col 
        items-center gap-y-4 w-full h-[90vh] max-w-3xl p-4 bg-secondary-grey_extralight font-primary_font 
        rounded-t-xl transition-transform duration-300 ease-out translate-y-full" 
        style="will-change: transform; touch-action: none;"
    >
        <div id="slider_bar" class="sticky w-16 h-1.5 bg-primary-blue_dark rounded-full cursor-grab active:cursor-grabbing"></div>

        <div id="content_modal" class="relative flex-1 flex flex-col items-center gap-y-6 w-full 
            px-4 md:px-8 py-8 text-secondary-grey_dark border-y border-primary-blue_dark overflow-y-auto"
        >
        {% if destination %}
        <div class="flex items-center justify-center gap-x-4">
            {% if destination.flag_image %}
            <img src="{% static destination.flag_image %}" class="max-w-12 rounded-full" />
            {% endif %}
            <h1 class="text-xl md:text-3xl font-secondary_font">{{ destination.name }}</h1>
        </div>

        {% if destination.airports %}
        <div class="space-y-2 text-center">
            {% for airport in destination.airports %}
            <p class="text-secondary-grey_semidark">{{ airport }}</p>
            {% endfor %}
        </div>
        {% endif %}
        
        {% if destination.metadata %}
        <div class="flex flex-col gap-y-2 text-secondary-grey_semidark">
            {% if destination.metadata.title %}
            <h2 class="text-xl font-extrabold">{{ destination.metadata.title }}</h2>
            {% endif %}

            {% if destination.metadata.description %}
            <div class="flex flex-col gap-y-4">
                {% for item in destination.metadata.description %}
                {% for title, content in item.items %}
                <div class="flex flex-col gap-y-1">
                    {% if title != "no_key" %} 
                    <h3 class="text-lg font-bold">{{ title }}:</h3>
                    {% endif %}

                    {% for item in content %}
                    {% for key, value in item.items %}
                    {% if key != "no_key" %} 
                    <h4 class="font-semibold">• {{ key }}</h4>
                    {% endif %}
                    <p>{{ value }}</p>
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endif %}
        </div>

        <div id="footer_modal" class="flex justify-end gap-x-4 w-full text-secondary-grey_extralight">
            <a id="modal_quotation_button" href="#quotation_section" class="flex items-center justify-center gap-x-4 
                w-fit px-4 py-2 bg-primary-red rounded-md shadow-lg shadow-primary-red/70 hover:animate-pulse"
            >
                {% include "icons/envelope.html" with tailwind_class="size-8" %}
                <span>Solicitá tu cotización</span>
            </a>
            <button class="whatsapp_button flex items-center gap-x-4 w-fit px-4 py-2 bg-tertiary-whatsapp_green_tone 
                text-center rounded-md shadow-lg shadow-tertiary-whatsapp_green_tone/70 hover:animate-pulse"
            >
                {% include "icons/whatsapp.html" with tailwind_class="size-7" %}
                <span>Consultanos</span>
            </button>
        </div>

    </div>
</div>
