{% extends "Base.html" %}
{% block content %}

<div class="text-container-button col text-center">

    <h4 class="tm-color-white tm-section-title"> TU TRANQUILIDAD, NUESTRA <span class="tm-section-title-red"> PRIORIDAD </span></h4> </div>

<div class="tm-section-2">
    <div class="container">
        <div class="row">
            <div class="col text-center">


                <p class="tm-color-white tm-section-subtitle">
                    SOMOS UNA EMPRESA JOVEN QUE CUENTA CON BASES OPERATIVAS TANTO EN ARGENTINA COMO ESPAÑA; BUSCAMOS POCISIONARNOS EN EL MERCADO, BRINDANDO A NUESTROS CLIENTES UN SERVICIO DE EXCELENCIA.
                  </p>
                  <p class="tm-color-white tm-section-subtitle">
                    ENTENDEMOS QUE EL TRANSPORTE DE TU MASCOTA Y TODO LO QUE CONLLEVA ESTO, PUEDE SER TODO UN DESAFÍO. ES POR ESO QUE NUESTRO COMPROMISO PRINCIPAL ES BRINDARTE ANTE TODO SEGURIDAD, RESPONSABILIDAD, CONFIANZA Y TODO EL AMOR QUE NECESITA TU MASCOTA AL MOMENTO DE EMPRENDER UN NUEVO DESTINO.
                  </p>
                  <p class="tm-color-white tm-section-subtitle">
                    SABEMOS QUE SON PARTE DE TU FAMILIA, POR ESO DESEAMOS QUE AL MOMENTO QUE NOS ELIJAS SEPAS QUE ESTÁN EN LAS MEJORES MANOS.
                  </p>
                  <p class="tm-color-white tm-section-subtitle">
                    PARA SU TRASLADO CONTAMOS CON PERSONAL ALTAMENTE CAPACITADO, QUE ENTIENDE LAS NECESIDADES DE ESTAS EN CUANTO AL MANEJO DE DIVERSAS RAZAS. ADEMÁS, CONTAMOS CON UNIDADES EQUIPADAS CON SISTEMAS DE VENTILACIÓN Y SEGURIDAD QUE GARANTIZAN UN VIAJE SEGURO Y CÓMODO PARA SU MASCOTA.
                  </p>
                  
               <br><br><br><br>
            </div>
        </div>
    </div>
</div>

<div class="text-container-button col text-center">
    <br /><br />
    <a href="{% url 'index' %}" class="tm-bg-secondary tm-color-white tm-font-semibold tm-border-radius-s tm-margin-b-5 tm-btn-white-bordered">Volver</a>
    </div>
    
{% endblock content %}