{% extends "Base.html" %}
{% block content %}


<div class="tm-section-2">
    <div class="container">
        <div class="row">
            <div class="col text-center">

                <br><br><br><br>

                <h4 class="tm-color-white tm-section-title"> TU TRANQUILIDAD, NUESTRA PRIORIDAD </h4>
                <br>
                <p class="tm-color-white tm-section-subtitle">
                    SOMOS UNA EMPRESA JOVEN QUE CUENTA CON BASES OPERATIVAS TANTO EN ARGENTINA COMO ESPAÑA ; BUSCAMOS
                    POCISIONARNOS EN EL MERCADO ,BRINDANDO A NUESTROS CLIENTES UN SERVICIO DE EXCELENCIA, ENTENDEMOS QUE
                    EL TRANSPORTE DE TU MASCOTA Y TODO LO QUE CONLLEVA ESTO, PUEDE SER TODO UN DESAFIO ES POR ESO QUE
                    NUESTRO COMPROMISO PRINCIPAL ES BRINDARTE ANTE TODO SEGURIDAD, RESPONSABILIDAD, CONFIANZA Y TODO EL
                    AMOR QUE NECESITA TU MASCOTA AL MOMENTO DE EMPRENDER UN NUEVO DESTINO; SABEMOS QUE SON PARTE DE TU
                    FAMILIA ,POR ESO DESEAMOS QUE AL MOMENTO QUE NOS ELIJAS SEPAS QUE ESTAN EN LAS MEJORES MANOS. Para
                    su traslado contamos con personal altamente capacitado, que entiende las necesidades de estas en
                    cuanto al manejo de diversas razas. Además, contamos con unidades equipadas con sistemas de
                    ventilación y seguridad que garantizan un viaje seguro Y comodo para su mascota.
                </p>
                <a href="{% url 'index' %}"
                    class="tm-bg-secondary tm-color-white tm-font-semibold tm-border-radius-s tm-margin-b-5 tm-btn-white-bordered">
                    Volver
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}