
{% extends "Base.html" %} {% block content %} {% load static %}

<style>
  .container-flex {
    display: flex;
    border: 1px solid #000000;
    box-shadow: #000000 0px 0px 10px;
    flex-direction: row;
    background-color: #28489d;
  }
  
  .img-container {
    order: 1;
  }
  .country-img{
    width: 100%;
  }
  .text-container {
    display: flex;
    order: 2;
  }
  .text-container-button {
    order: 1;
  }
  .container-flex {
    display: flex;
    flex-direction: row;
  }
  .img-container,
  .text-container {
    flex: 1;
  }
  
#tabs {
	float:left;
	width:100%;
	background:#212529;
	font-size:93%;
	line-height:normal;
	}
	
#tabs ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	}
	
#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}
	
#tabs a {
	float:left;
	background:url("{% static 'img/tab/tableft2.gif' %}") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}
	
#tabs a span {
	float:left;
	display:block;
	background:url("{% static 'img/tab/tabright2.gif' %}") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#FFF;
	}
	
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}

/* End IE5-Mac hack */
#tabs a:hover span {
	color:#FFF;
	}
	
#tabs a:hover {
	background-position:0% -42px;
	}
	
#tabs a:hover span {
	background-position:100% -42px;
	}
  @media (max-width: 700px) {
    .container-flex {
      display: row;
      flex-direction: column;
    }
    .text-container {
      order: 1;
    }
    .img-container {
      order: 2;
    }
  }
</style>

<div class="tm-section-category" id="tm-section-cat">

  <div class="text-container-button col text-center">
    <br /><br />
    <h4 class="tm-color-white tm-section-title">
      Restricciones de viaje aéreo para <span class="tm-section-title-red"> braquiocefalos </span>
    </h4> </div>
    <div class="container">
      <div class="row">
          <div class="col text-center">
              <p class="tm-color-white tm-section-subtitle">  
    El traslado de animales de razas braquiocefálicas mediante transporte aéreo conlleva un alto riesgo para su salud respiratoria y bienestar térmico, derivado del estrés ocasionado durante el vuelo.  </p>
          </div>
      </div>
  </div>

    <div class="container-flex">
      <div class="img-container">
        <img
          src="{% static 'img/razas-restricciones/French-Bulldog-1.jpg' %}"
          style="max-width: 900px; max-height: 700px;"
          class="country-img"
        />
      </div>
      <div class="text-container tm-flex-align-center col text-center">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <br />
              <h4 class="tm-color-white tm-section-title-parag">Razas de <span class="tm-section-title-parag-red"> perros </span> clasificadas como braquiocefálicas:</h4>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <p class="tm-color-white tm-section-subtitle-parag">
                    - Affenpinscher <br>
                    - American Bully <br>
                    - Boston Terrier <br>
                    - Boxer (todas las razas) <br>
                    - Bulldog (todas las razas) <br>
                    - Cane corso <br>
                    - Carlino <br>
                  </p>
                </div>
                <div class="col-md-4">
                  <p class="tm-color-white tm-section-subtitle-parag">
                    - Chow Chow <br>
                    - Dogo (todas las razas) <br>
                    - Grifón de Bruselas (pequeño brabanzón) <br>
                    - Lhasa Apso <br>
                    - Mastín (todas las razas) <br>
                    - Pequinés <br>
                  </p>
                </div>
                <div class="col-md-4">
                  <p class="tm-color-white tm-section-subtitle-parag">
                    - Pitbull <br>
                    - Shar-Pei <br>
                    - Shih Tzu <br>
                    - Cocker/Spaniel (todas las razas) <br>
                    - Staffordshire bull terrier
                  </p>
                </div>
              </div>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="tm-section-category">
  <br /><br /><br /><br /><br />
  <div class="container-flex">
    <div class="img-container">
      <img
        src="{% static 'img/razas-restricciones/Sagrado-de-Birmania.jpg' %}"
        style="max-width: 900px; max-height: 700px;"
        class="country-img"
      />
    </div>
    <div class="text-container tm-flex-align-center col text-center">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <br />
            <h4 class="tm-color-white tm-section-title-parag"> Razas de <span class="tm-section-title-parag-red"> gatos </span> clasificadas como braquiocefálicas:
            </h4>
            <br>
            <p class="tm-color-white tm-section-subtitle-parag">
              
              Birmano <br>
              Gato exótico <br>
               Himalayo <br>
                Persa <br>
                 Británico de pelo corto


            </p>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="text-container-button col text-center">
    <br /><br />
    <a href="{% url 'index' %}" class="tm-bg-secondary tm-color-white tm-font-semibold tm-border-radius-s tm-margin-b-5 tm-btn-white-bordered">Volver</a>
    </div>

{% endblock content %} 
