{% extends "Base.html" %}
{% block content %}


<div class="tm-section-2">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <br><br><br><br>
                <h4 class="tm-color-white tm-section-menortitle">TENEMOS UNA AMPLIA RED DE PAISES  </h4>
                <p class="tm-color-white tm-section-subtitle"></p><br>
                <p class="tm-color-white tm-section-subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <a href="{% url 'index' %}"
                    class="tm-bg-secondary tm-color-white tm-font-semibold tm-border-radius-s tm-margin-b-5 tm-btn-white-bordered">
                    Volver
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}