{% extends "Base.html" %} {% block content %} {% load static %}
<style>
  .container-flex {
    display: flex;
    border: 1px solid #000000;
    box-shadow: #000000 0px 0px 10px;
    flex-direction: row;
    background-color: #28489d;
  }
  .img-container {
    order: 1;
  }
  .text-container {
    display:flex;
    order: 2;
  }
  .text-container-button {
  order: 1;
}
  .container-flex {
    display: flex;
    flex-direction: row;
  }
  .img-container,
  .text-container {
    flex: 1;
  }
  @media (max-width: 700px) {
    .container-flex {
      display: row;
      flex-direction: column;
    }
    .text-container {
      order: 1;
    }
    .img-container {
      order: 2;
    }
  }
</style>

<div class="tm-section-category">
  <br /><br /><br /><br /><br />
  <div class="container-flex">
    <div class="img-container">
      <img
        src="{% static 'img/drive/IMG_9133_reduc.jpg' %}"
        alt="Razas"
        style="width: 100%"
      />
    </div>
    <div class="text-container tm-flex-align-center col text-center">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <br />
            <h4 class="tm-color-white tm-section-menortitle">
              Sin distincion de raza
            </h4>
            <p class="tm-color-white tm-section-subtitle">
              En nuestra empresa, nos dedicamos apasionadamente a garantizar que
              tus fieles amigos peludos viajen cómodos y seguros, sin importar
              su raza. Sabemos que cada mascota es única y especial para su
              familia, por lo que tratamos a cada una con el amor y el cuidado
              que se merecen
            </p>
            <br />
            <p class="tm-color-white tm-section-subtitle">
              Nos comprometemos a brindar una experiencia tranquila y libre de
              estrés tanto para las mascotas como para sus dueños. Entendemos lo
              difícil que puede ser separarse de tu compañero de cuatro patas
              durante un viaje, por eso nos esforzamos por proporcionar un
              ambiente acogedor y seguro desde el momento en que nos confías a
              tu mascota.
            </p>
            <p class="tm-color-white tm-section-subtitle">
              Nuestro equipo altamente capacitado está dedicado a cuidar de cada
              detalle, desde el momento en que recibimos a tu mascota hasta que
              la entregamos a salvo en su destino final. Trabajamos en estrecha
              colaboración con aerolíneas de renombre y cumplimos con los más
              altos estándares de seguridad y bienestar animal para garantizar
              un viaje sin contratiempos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-container-button col text-center">
<br /><br />
<a href="{% url 'index' %}" class="tm-bg-secondary tm-color-white tm-font-semibold tm-border-radius-s tm-margin-b-5 tm-btn-white-bordered">Volver</a>
</div>

{% endblock content %}
