{% extends "Base.html" %}

{% block content %} 
{% load static %}

<style>
  .container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 30px; 
  }
  .tm-section-category {
    display: grid;
    padding-left: 20%;
    grid-template-columns: 1fr; /* Una columna para cada sección */
    gap: 20px; /* Espacio entre elementos */
  }
  .img-container img {
    max-width: 100%; /* Ajustar el tamaño máximo de la imagen */
    height: auto; /* Mantener la proporción de la imagen */
  }
  .text-container {
    display: flex;
    flex-direction: column; /* Alinear el texto debajo de la imagen */
  }
  .tm-section-category {
    margin-bottom: 20px; /* Agregar un espacio entre las secciones */
  }

</style>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<script src="{% static 'mapa/mapdata.js'%}"></script>
<script src="{% static 'mapa/worldmap.js'%}"></script>
<h2 class="tm-color-white tm-section-title">Mapa de Requisitos</h2>

<div id="map"></div>

{% endblock content %}
