{% extends "Base.html" %} {% block content %} {% load static %}

<style>
    .container-flex {
        display: flex;
        border: 1px solid #000000;
        box-shadow: #000000 0px 0px 10px;
        flex-direction: row;
        background-color: #28489d;
    }

    .img-container {
        order: 1;
    }

    .country-img {
        width: 100%;
    }

    .text-container {
        display: flex;
        order: 2;
    }

    .text-container-button {
        order: 1;
    }

    .container-flex {
        display: flex;
        flex-direction: row;
    }

    .img-container,
    .text-container {
        flex: 1;
    }

    #tabs {
        float: left;
        width: 100%;
        background: #212529;
        font-size: 93%;
        line-height: normal;
    }

    #tabs ul {
        margin: 0;
        padding: 10px 10px 0 50px;
        list-style: none;
    }

    #tabs li {
        display: inline;
        margin: 0;
        padding: 0;
    }

    #tabs a {
        float: left;
        background:url("{% static 'img/tab/tableft2.gif' %}") no-repeat left top;
        margin: 0;
        padding: 0 0 0 4px;
        text-decoration: none;
    }

    #tabs a span {
        float: left;
        display: block;
        background:url("{% static 'img/tab/tabright2.gif' %}") no-repeat right top;
        padding: 5px 15px 4px 6px;
        color: #FFF;
    }

    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs a span {
        float: none;
    }

    /* End IE5-Mac hack */
    #tabs a:hover span {
        color: #FFF;
    }

    #tabs a:hover {
        background-position: 0% -42px;
    }

    #tabs a:hover span {
        background-position: 100% -42px;
    }

    @media (max-width: 700px) {
        .container-flex {
            display: row;
            flex-direction: column;
        }

        .text-container {
            order: 1;
        }

        .img-container {
            order: 2;
        }
    }
</style>

<div class="tm-section-category" id="tm-section-cat">

    <div class="text-container-button col text-center">
        <br /><br />
        <h4 class="tm-color-white tm-section-title">
            Nuestros <span class="tm-section-title-red"> servicios </span>
        </h4>
    </div>

    <div class="container-flex">
        <div class="img-container">
            <img src="{% static 'img/servicios/perro.jpeg' %}" style="max-width: 800px; max-height: 800px;"
                class="country-img" />
        </div>
        <div class="text-container tm-flex-align-center col text-center">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h4 class="tm-color-white tm-section-title-parag">Vuelo Acompañado</h4>
                        <br>
                        <div class="row">
                            <div>
                                <p class="tm-color-white tm-section-subtitle-parag">
                                    En este servicio tu mascota es asistida en todo momento por personal de nuestro
                                    <span class="tm-section-subtitle-parag-red"> STAFF </span>.
                                    Tu mascota viaja en cabina. <br>
                                    Este servicio Incluye: <br>
                                    <br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="tm-color-white tm-section-subtitle-parag">
                                            - Retiro de la mascota <br>
                                            - Controles Veterinarios <br>
                                            - Certificados internacionales <br>
                                            - Permisos aduneros Argentina <br>
                                            - Permisos aduaneros destino <br>
                                            - Examenes <br>
                                            - Microchip S/destino <br>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="tm-color-white tm-section-subtitle-parag">

                                            - Jaulas Transportadoras <br>
                                            - Trámites de Exportacion <br>
                                            - Aéreos hasta el destino <br>
                                            - Handling y AVI FEE (Arg) <br>
                                            - Impuestos locales (Ezeiza, Argentina) <br>
                                            - Retiro e ingreso al aeropuerto <br>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <h4 class="tm-color-white tm-section-subtitle-parag"> <span
                                    class="tm-section-subtitle-parag-red">Importante: </span>servicio Puerta a Puerta se
                                cotiza aparte segun dirección de Destino .</h4>
                            </p>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="tm-section-category">
    <br /><br /><br /><br /><br />



    <div class="container-flex">
        <div class="img-container-2">
            <!-- <img src="{% static 'img/servicios/perro1.jpeg' %}"
                style="height:100% ;max-width: 1200px; max-height: 1200px;" class="country-img" /> -->
                <video class="service" autoplay muted >
                    <source src="{% static 'img/servicios/vuelo-carga-viva.mp4' %}" style=" max-width: 900px; max-height: 900px;"type="video/mp4">
                </video>
                
        </div>
        <div class="text-container-2 tm-flex-align-center col text-center">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <br><br><br> <br>
                        <h4 class="tm-color-white tm-section-title-parag">Vuelos de Carga Viva</h4>
                        <br>
                        <div class="row">
                            <div>
                                <p class="tm-color-white tm-section-subtitle-parag">
                                    Estos son especiales para mascotas, ya que cumplen con las temperaturas óptimas y
                                    las normas
                                    sanitarias del transporte.
                                    Este servicio Incluye: <br></p>

                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="tm-color-white tm-section-subtitle-parag">
                                            - Retiro de la mascota <br>
                                            - Controles Veterinarios <br>
                                            - Certificados internacionales <br>
                                            - Permisos aduneros Argentina <br>
                                            - Permisos aduaneros destino <br>
                                            - Examenes <br>
                                            - Microchip
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="tm-color-white tm-section-subtitle-parag">

                                            - Jaulas Transportadoras <br>
                                            - Trámites de Exportacion <br>
                                            - Aéreos hasta el destino <br>
                                            - Handling y AVI FEE (Arg) <br>
                                            - Impuestos locales (Ezeiza, Argentina) <br>
                                            - Retiro e ingreso a la terminal de carga viva
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <h4 class="tm-color-white tm-section-subtitle-parag"><span
                                    class="tm-section-subtitle-parag-red">Importante:</span> No están incluidos los
                                costos de
                                liberación en el aeropuerto de destino. En ciertos países puede ser requerido el uso de
                                Despachante de Aduana para la importación liberación de las mascotas.</h4>

                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<br><br><br><br>
<div class="text-container-button col text-center">
    <br /><br />
    <h4 class="tm-color-white tm-section-title">
        
        Hacemos posible que viajes junto a tu mascota hasta tu destino
    </h4>
</div>





<div class="container-flex">
    <div class="img-container">
        <img src="{% static 'img/servicios/perro1.jpeg' %}"
        style="height:100% ;max-width: 1200px; max-height: 1200px;" class="country-img" />
    </div>
    <div class="text-container tm-flex-align-center col text-center">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <!-- <h4 class="tm-color-white tm-section-title-parag">Vuelo Acompañado</h4>
                    <br> -->
                    <div class="row">
                        <div>
                            <p class="tm-color-white tm-section-subtitle-parag">
                                El servicio consiste en el asesoramiento
                                y gestión de todos los trámites de tu mascota para que viaje en el mismo vuelo que vos desde Argentina a
                                cualquier parte del mundo.</p>
                                <br>
                                <h4 class="tm-color-white tm-section-title-parag">Incluye: </h4>
                            <div class="row">
                                
                                <div class="col-md-4">
                                    
                                    <p class="tm-color-white tm-section-subtitle-parag">
                                        - Trámites y certificados sanitarios <br>
                                        - Permisos aduaneros de Argentina para salir del país con la mascota <br>
                                        - Permisos aduaneros para el ingreso de la mascota en el destino <br>
                                        - Microchip y certificado de implantación <br>
                                        
                                    </p>
                                </div>
                                <div class="col-md-4 ">
                                    <p class="tm-color-white tm-section-subtitle-parag">
                                        - Certificaciones veterinarias <br>
                                        - Certificado de Buena Salud <br>
                                        - Exámenes y Vacunas <br>
                                        - Asesoria de reserva aérea con mascotas.
                                    </p>
                                </div>
                                <p class="tm-color-white tm-section-subtitle-parag">
                                    <span class="tm-section-subtitle-parag-red">NO</span> Incluye: <br>
                                    - Tarifa de embarque de la aerolínea <br>
                                    - Jaulas transportadoras <br>
                                    - Transfer al aeropuerto ni Permiso de embarque
                                </p>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
</div>
</div>











<div class="text-container-button col text-center">
    <br /><br />
    <a href="{% url 'index' %}"
        class="tm-bg-secondary tm-color-white tm-font-semibold tm-border-radius-s tm-margin-b-5 tm-btn-white-bordered">Volver</a>
</div>

{% endblock content %}