html {
    scroll-behavior: smooth;
}

/* body scrollbar color design */
body::-webkit-scrollbar {
    background-color: rgb(30, 30, 30);
    width: 1.25em;
}

body::-webkit-scrollbar-thumb {
    background-color: #28489D;
    cursor: grab;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #2B72B6;
}

body::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}
/* body scrollbar color design */

.warning {
    margin-bottom: 10%;
    padding: 2%;
    padding-left: 3%;
    color: white;
    background-color: #ee5057;
}

.row {
    justify-content: center;
}

.logotipo{
    width: 120px;
    border-radius: 5em;
}

/* carrousel */
.tm-article-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.tm-carousel-item {
    border-radius: 0.5rem;
}

.carousel-indicators li {
    cursor: pointer;
}

.carousel-caption h5 {
    padding: 1%;
    border-radius: 50vh;
    background-color: rgb(30, 30, 30);
}

.carousel-caption h5:first-of-type {
    font-size: 1.5em;
}
.carousel-caption h5:last-of-type {
    color: rgb(175, 175, 175);
    font-size: 1.25em;
}
/* carrousel */

.company-name {
    margin-left: 2em;
    color: white;
    font-size: 2.2em;
}

.socials h1 span a {
    color: #ff444a;
}

.socials h1 span a:hover {
    padding: 0.5rem;
    color: #ffffff;
    background-color: #d92127;
    border-radius: 0.5rem;
}

.reel {
    display: flex;
    height: 500px;
    border-radius: 0.5rem;
    z-index: 2;
    transition: height 0.5s ease;
}

.reel:hover {
    height: 525px;
    box-shadow: 0px 0px 20px 0px rgba(214, 214, 214, 1);
}

#grid img {
    display: block;
    max-width: 100%;
    height: auto;
}

.sales_divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-sales-content {
    flex: 1;
    background-color: #512421;
    padding: 2%;
    box-sizing: border-box; 
}
  
.gen-program {
    display: flex;
    flex: 1;
    max-height: 100vh;
    margin-left: 0%;
    margin-right:0%;
    overflow: hidden;
}

.programa-genetico-img{
    width: 800px;
}

img.programa-genetico-img {
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    object-fit: cover;
}

.container-flex {
    display: flex;
    flex-direction: row;
}
  
.img-container {
    order: 1;
}
.img-container-2 {
    order: 2;
}
.text-container {
    order: 2;
}
.text-container-2 {
    order: 1;
}

.container-flex {
    display: flex;
    flex-direction: row;
}

.img-container, .text-container {
    flex: 1;
}
.img-container-2, .text-container-2 {
    flex: 1;
}
.service{
    width: 100%;
    height: 700px;
    margin: 0 auto;
    height: auto;
    max-width: 700px;
    max-height: 700px;
}
/* SCROLLTOP BTN */
.whatsapp_button {
    position: fixed;
    bottom: 2.5vh;
    right: 2.5vh;
    border-radius: 3rem;
    z-index: 10;

    & button {
        width: 4.5rem;
        height: 4.5rem;
        border: transparent;
        border-radius: 3rem;
        background-color: #00bb2d;
        outline: none;
        transition: opacity 0.5s ease-in-out;
        cursor: pointer;
        
        &:hover {
            box-shadow: 0px 0px 20px 0px #a1c8de;
        }
    }

    & .bi {
        color: #ffffff;
        background-color: #00bb2d;
        font-size: 2.5rem;
    }
}

.scroll_to_top button.active {
    opacity: 1;
    cursor: pointer;
}

.scroll_to_top button {
    animation: fadeIn 0.5s ease-in-out;
}

.scroll_to_top button.active {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/* SCROLLTOP BTN */

@media screen {

    @media (max-width: 1400px) {
        .tm-article-carousel {
            flex-wrap: wrap;
        }
    }

    @media (max-width: 1200px) {
        .company-name {
            font-size: 1.8em;
            margin-left: 15px;
        }

        .logotipo{
            width: 100px;
        }

        .tm-top-bar {
            height: 105px;
        }
    }

    @media (max-width: 767px) {
        .company-name {
            font-size: 1.5em;
        }

        .logotipo{
            width: 80px;
        }

        .tm-top-bar {
            height: 85px;
        }

        .navbar-toggler {
            font-size: 1em;
        }

        .navbar-toggler-icon {
            height: 2em;
        }
    }

    @media (max-width: 575px) {
        .choice_contact_bar button, 
        .choice_contact_bar_alt button {
            width: 175px;
        }
    }

    @media (max-width: 475px) {
        .company-name {
            font-size: 1.25em;
        }

        .logotipo{
            width: 60px;
        }

        .tm-top-bar {
            height: 65px;
        }
    }
    
    @media (max-width: 410px) {
        .navbar-toggler {
            font-size: 0.75em;
        }
    }
    
    @media (max-width: 355px) {
        .company-name {
            font-size: 1em;
        }

        .logotipo{
            width: 45px;
        }

        .navbar-toggler {
            font-size: 0.75em;
        }
    }
}