body::-webkit-scrollbar {
    background-color: rgb(30, 30, 30);
    width: 1.25em;
}

body::-webkit-scrollbar-thumb {
    background-color: #fc8014;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #ffa556;
}

.warning {
    margin-bottom: 10%;
    padding: 2%;
    padding-left: 3%;
    color: white;
    background-color: #ee5057;
}

.row {
    justify-content: center;
}

.logotipo{
    width: 80px;
    border-radius: 5em;
}

.tm-article-carousel {
    display: flex;
    justify-content: center;
}

.carousel-indicators li {
    cursor: pointer;
}

.carousel-caption h5 {
    padding: 1%;
    border-radius: 50vh;
    background-color: rgb(30, 30, 30);
}

.carousel-caption h5:first-of-type {
    font-size: 1.5em;
}
.carousel-caption h5:last-of-type {
    color: rgb(175, 175, 175);
    font-size: 1.25em;
}

.company-name {
    margin-left: 2em;
    color: white;
    font-size: 2em;
}

@media screen {

    @media (max-width: 1200px) {
        .company-name {
            font-size: 1.8em;
            margin-left: 0;
        }

        .logotipo{
            width: 60px;
        }

        .tm-top-bar {
            height: 67.5px;
        }
    }

    @media (max-width: 767px) {
        .company-name {
            font-size: 1.5em;
        }

        .logotipo{
            width: 50px;
        }

        .navbar-toggler {
            font-size: 1em;
        }

        .navbar-toggler-icon {
            height: 2em;
        }
    }

    @media (max-width: 475px) {
        .company-name {
            font-size: 1.25em;
        }
    }
    
    @media (max-width: 410px) {
        .navbar-toggler {
            font-size: 0.75em;
        }
    }
    
    @media (max-width: 355px) {
        .company-name {
            font-size: 1em;
        }

        .logotipo{
            width: 45px;
        }

        .navbar-toggler {
            font-size: 0.75em;
        }
    }
}