.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

/* frases aisladas */
.titles{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Texto general */
.belleza-regular {
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Titulo del landscape */
.main-title{
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}
