{% load static %}

<div class="{{ container_classes }} rounded-l-[6rem] rounded-r-xl transition-all duration-500 
    transform lg:group-hover/card-stack:scale-90 lg:hover:z-[1] lg:hover:scale-110"
>
    <div class="{{ classes }} relative p-4 rounded-l-[6rem] rounded-r-xl shadow-md shadow-secondary-grey_dark transition-all duration-100  
        bg-[url({% static bg_image %})] bg-cover bg-center bg-no-repeat lg:hover:shadow-lg lg:hover:shadow-secondary-grey_dark"
    >
        <img src="{% static content_image %}" class="w-full max-w-32 ring-2 ring-primary-blue_light/50 rounded-full">
        <h1 class="{{ label_classes }} absolute px-4 py-1 bg-secondary-grey_dark text-3xl text-secondary-grey_light font-parisienne_font font-regular 
            border-2 border-dashed border-secondary-grey_light outline outline-4 outline-secondary-grey_dark rounded-sm"
        >{{ label_text|capfirst }}</h1>
    </div>
</div>
