{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerolineas para Mascotas</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <section>
        {% include "components/navbar.html" %}
        {% include "components/right-side-navbar.html" %}
    </section>

    <section>
        {% block content %}
        {% endblock content %}
    </section>

    <div id="whatsapp_button" 
        class="z-10 fixed bottom-3 right-3 sm:bottom-5 sm:right-5 p-3 pt-4 bg-tertiary-whatsapp_green_tone
        rounded-full shadow-xl cursor-pointer scale-80">
        <button type="button">
            {% include "icons/whatsapp.html" with tailwind_class="w-10 h-8 text-white" %}
        </button>
    </div>

</body>
<script type="module" src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/tailwind.config.js' %}"></script>
</html>
