<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerolineas para Mascotas</title>
</head>
<body>
    
    <section>

        <div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <div>
                    Inicio
                </div>
                <div>
                    Quienes somos
                </div>
                <div>
                    Servicios
                </div>
                <div>
                    Contactanos
                </div>
            </div>
        </div>

    </section>

</body>
</html>
