{% load static %}
{% load unicorn %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KH5GC9T4');
    </script>
    <!-- End Google Tag Manager -->
    
    {% unicorn_scripts %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerolineas para Mascotas</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Belleza&family=Cinzel:wght@400..900&family=Permanent+Marker&family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Alike+Angular&family=Castoro+Titling&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-966549199"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-966549199');
    </script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KH5GC9T4"
            height="0" width="0" style="display:none;visibility:hidden"
        ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <section class="font-primary_font font-bold">
        {% include "components/navbar.html" %}
        {% include "components/sidebar.html" %}
    </section>

    <section>
        {% block content %}
        {% endblock content %}
    </section>

    <section class="font-primary_font">
        {% include "components/footer.html" %}
    </section>

    <div id="whatsapp_button" class="z-40 fixed bottom-3 right-3 sm:bottom-5 sm:right-5 p-3 pt-4 
        bg-tertiary-whatsapp_green_tone rounded-full shadow-xl cursor-pointer scale-80 
        hover:animate-mini_bounce_medium_fast"
    >
        <button type="button">
            {% include "icons/whatsapp.html" with tailwind_class="w-10 h-8 text-white" %}
        </button>
    </div>

</body>
<script type="module" src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/tailwind.config.js' %}"></script>
</html>
